<!DOCTYPE html>
<html lang="en" class="no-js" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>tongxu管理</title>
    <link th:href="@{/login/css/normalize.css}" rel="stylesheet" type="text/css"  />
    <link th:href="@{/login/css/demo.css}" rel="stylesheet" type="text/css"  />
    <!--必要样式-->
    <link th:href="@{/login/css/component.css}" rel="stylesheet" type="text/css" />
    <!--[if IE]>
    <script th:src="@{/login/js/html5.js}"></script>

    <![endif]-->
</head>
<body>
<div class="container demo-1">
    <div class="content">
        <div id="large-header" class="large-header">
            <canvas id="demo-canvas"></canvas>
            <div class="logo_box">
                <h3>欢迎你</h3>
                <form action="/user/index"  method="post" id="formsu">
                    <div class="input_outer">
                        <span class="u_user"></span>
                        <input name="userName" class="text" style="color: #FFFFFF !important" type="text" placeholder="请输入账户" autocomplete="off">
                    </div>
                    <div class="input_outer">
                        <span class="us_uer"></span>
                        <input name="passWord" class="text" style="color: #FFFFFF !important; position:absolute; z-index:100;"value="" type="password" placeholder="请输入密码">
                    </div>
                    <div class="mb2"><a class="act-but submit" href="javascript:login()" style="color: #FFFFFF">登录</a></div>
                </form>
            </div>
        </div>
    </div>
</div><!-- /container -->
<script th:src="@{/login/js/TweenLite.min.js}" ></script>
<script th:src="@{/login/js/EasePack.min.js}" ></script>
<script th:src="@{/login/js/rAF.js}" ></script>
<script th:src="@{/login/js/demo-1.js}" ></script>
<script type="text/javascript">
    function login(){
        document.getElementById("formsu").submit();
    }
</script>
</body>
</html>